body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.functional-buttons a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.functional-buttons:active {
  background-color: #161d29;
}

.make-offer a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
}

.make-offer:active {
  background-color: #518534;
}

.header-background {
  background-color: #293449;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: #b2b2b2;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425C;
}

.search-form input {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: 1px solid #293449;
}

.search-form:hover {
  background-color: #212a3a;
  border: 1px solid #212a3a;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.search-form:active {
  background-color: #293449;
}

.search-form input::-webkit-input-placeholder {
  color: #d8d8d8;
}

.search-form input::-moz-placeholder {
  color: #d8d8d8;
}

.search-form input:-ms-input-placeholder {
  color: #d8d8d8;
}

.search-form input:-o-input-placeholder {
  color: #d8d8d8;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  color: #8e939c;
  background-color: #1d2739;
}

.header-about {
  font-style: italic;
  font-size: 16px;
  text-transform: none;
  font-weight: normal;
  color: #ee3643;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  text-transform: none;
  color: #32425C;
}

.about-company h3 {
  font-size: 30px;
  text-transform: uppercase;
}

.about-company p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.delivery-companies li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.pop-up-map {
  display: none;
}

.pop-up-form {
  display: none;
}

.footer-navigation {
  list-style: none;
}

.footer-navigation a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.footer-contacts {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-info {
  list-style: none;
}

.footer-info a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  color: #ffd180;
}

.footer-copyright {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.footer-social {
  list-style: none;
}

.feedback {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.feedback a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #ffd180;
}

.developer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.developer a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #ffd180;
}

.footer-background-top {
  background-color: #32425c;
}

.footer-background-bottom {
  background-color: #293449;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-navigation .name-cabinet {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation.name-cabinet:hover {
  color: #000000;
}

.user-navigation .name-cabinet:active {
  color: #b2b2b2;
}

.user-navigation .user-offers {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation .user-cabinet {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.inherit-page ul {
  list-style: none;
}

.brand-name legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.inherit-page .brand-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.supply-name legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.supply-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.inherit-page .some-in-basket {
  background-color: #ee3643;
}

.inherit-page .header-about {
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  text-transform: none;
}

.inherit-page .page-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
  color: #32425c;
}

.inherit-page fieldset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.inherit-page .filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
}

.catalog-item-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
}

.inherit-page .pop-up-byu {
  display: none;
}

.pop-up-buy-form {
  display: none;
}
